/* font color */
$font-baseColor: #121212;
$font-whiteColor: #ffffff;
$font-catchCopyColor: #131D34;
$font-subMenuHoverColor: #2498B3;

/* background color */
$backGround-whiteColor: #ffffff;
$backGround-lightBlueColor: #D4F1F8;
$backGround-navLastLinkColor: #2498B3;
$backGround-blackColor: #000000;
$bakGround-responsiveHoverColor: #F3FAFB;