@use "../../foundation" as * ;

.p-single {
    &__mv {
        height: 500px;
        display: flex;
        align-items: center;
        padding: 0 0 0 85px;
        background: url(./../images/pc/article_main_mv.png) center center no-repeat;
        @include breakpoint(sp) {
            height: 225px;
            background-size: cover;
            padding: 0 0 0 25px;
        }
    }
    &__contents {
        font-family: $m-plus-font;
        font-weight: normal;
        color: $brown-darkest;
        padding: 60px 100px 275px;
        @include breakpoint(sp) {
            padding: 34px 20px 70px;
        }
    }
    .wp-block-quote {
        @include breakpoint(sp) {
            padding: 30px 15px;
        }
    }
    .wp-block-media-text {
        figure {
            align-self: flex-start;
        }
        &__content {
            align-self: start;
            p {
                margin: 0;
            }
        }
    }
    .wp-block-gallery.has-nested-images {
            figure.wp-block-image {
                flex-grow: 0;
                @include breakpoint(tablet) {
                    flex-basis: 49%;
                }
                @include breakpoint(sp) {
                    flex-basis: 100%;
                }
            }
    }
    .wp-block-code {
        @include breakpoint(sp) {
            margin: 30px 0;
        }
    }
    .wp-block-button {
        .wp-element-button {
            @include breakpoint(sp) {
                padding: 30px 0;
                width: 100%;
            }
        }
        @include breakpoint(sp) {
            width: 100%;
        }
    }
    h2 {
        font-family: $m-plus-font;
        font-weight: bold;
        font-size: 36px;
        color: $brown-darkest;
        margin: .75em 0;
        @include breakpoint(sp) {
            font-size: 28px;
        }
    }
    h3 {
        font-family: $m-plus-font;
        font-weight: bold;
        font-size: 28px;
        color: $brown-darkest;
        margin: .83em 0;
        @include breakpoint(sp) {
            font-size: 24px;
        }
    }
    h4 {
        font-family: $m-plus-font;
        font-weight: bold;
        font-size: 20px;
        color: $brown-darkest;
    }
    h4,ul,ol,blockquote,p {
        margin: 1.12em 0;
    }
    h5 {
        font-family: $m-plus-font;
        font-weight: bold;
        font-size: 20px;
        color: $brown-darkest;
        margin: 1.5em 0;
    }
    h6 {
        font-family: $m-plus-font;
        font-weight: bold;
        font-size: 20px;
        color: $brown-darkest;
        margin: 1.67em 0;
    }
    ol {
        margin-left: 40px;
        li {
            list-style-position: inside;
        }
    }
    ul {
        margin-left: 40px;
        li {
            list-style-position: inside;
        }
    }
    cite {
        font-style: italic;
    }
}